<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobstyles.css')}}" />


    <title>Flask Blog Lab</title>
</head>

<body>
    <h1>We built this blog with Flask!</h1>
    <div class="gallery">
        {% for post in posts %} 
        <div class="post">
        </p>Date: {{post['date']}}</p>
        </p>Title: {{post['title']}}</p>
        </p>Author: {{post['author']}}</p>
        </p>Content: {{post['body']}}</p>
    </div>
    {% endfor %}
    </div>

</body>

</html>