<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo List</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>Vue Your To Do List</h1>

        <input v-model="item" @keyup.enter="addItemToArray()" placeholder="What do you need to do?">
        <button @click="addItemToArray()">Add</button>

        <h2>Task List</h2>
        <div v-for="person in itemList">
            <div v-if="person.complete !== true && person.archive !== true">
                {{person.todo}}
                <button @click="completeTask(person.id)">Complete</button>
                <button @click="archiveTask(person.id)">Remove</button>
            </div>
        </div>

        <h2>Completed</h2>
        <div v-for="person in itemList">
            <div v-if="person.complete === true && person.archive !== true">
                {{person.todo}}
                <button @click="completeTask(person.id)">Reverse</button>
                <button @click="archiveTask(person.id)">Remove</button>
            </div>
        </div>
    </div>

    <!-- Import App -->
    <script src="./script.js"></script>

    <!-- Mount App -->
    <script>
        const mountApp = app.mount('#app')
    </script>

</body>
</html>