<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

     <!-- Import Ajax -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Pokemon Vue 3.0</title>
</head>
<body>
    <div id="app">
        <h1>Pokemon Vue List</h1>

        <img :src="pokemonImage"></img>


        <h3>Normal Type</h3>
        <div v-for="poke in pokemon">
            <div v-if="poke.type === 'normal'">
                <p @click="getPokeInfo(poke)">{{ poke.name }}</p>
            </div>
        </div>

        <h3>Electric Type</h3>
        <div v-for="poke in pokemon">
            <div v-if="poke.type === 'electric'">
                <p @click="getPokeInfo(poke)">{{ poke.name }}</p>
            </div>
        </div>

        <h3>Ghost Type</h3>
        <div v-for="poke in pokemon">
            <div v-if="poke.type === 'ghost'">
                <p @click="getPokeInfo(poke)">{{ poke.name }}</p>
            </div>
        </div>

        <h3>Water Type</h3>
        <div v-for="poke in pokemon">
            <div v-if="poke.type === 'water'">
                <p @click="getPokeInfo(poke)">{{ poke.name }}</p>
            </div>
        </div>

        <h3>Fire Type</h3>
        <div v-for="poke in pokemon">
            <div v-if="poke.type === 'fire'">
                <p @click="getPokeInfo(poke)">{{ poke.name }}</p>
            </div>
        </div>

        <h3>Psychic Type</h3>
        <div v-for="poke in pokemon">
            <div v-if="poke.type === 'psychic'">
                <p @click="getPokeInfo(poke)">{{ poke.name }}</p>
            </div>
        </div>
        

    </div>

    <!-- Import App -->
    <script src="./script.js"></script>

    <!-- Mount App -->
    <script>
        const mountApp = app.mount('#app')
    </script>
    
</body>
</html>