*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 20.25rem;
    margin-left: 4rem;
    height: 2rem;
    border: 1px solid red;
}

#grid-container{
    display: grid;
    width: 8rem;
    margin-left: 12.4rem;
    grid-template-columns: 4fr 10fr 11fr 6fr;
}

.grid-item{
    color: blue;
    font-size: 20%;
}

input{
    margin-left: 12.4rem;
}

aside{
    width: 20.25rem;
    height: 100vh;
    margin-left: 4rem;
    border: 1px solid blue;
}

section{
    width: 3.75rem;
    height: 100vh;
    border: 1px solid blue;
}