{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'url_app/styles.css' %}">
    <title>URL Makeover</title>
  </head>
  <body>
    <h1>URL Makeover</h1>
    <form action="{% url 'url_app:add_url' %}" method="post">
      {% csrf_token %}
      <input type="text" name="long_url" placeholder="Enter your comically long URL here"/>
      <button type="submit">Shorten that bad boy</button>
  </form>
    <ul>
      {% for link in all_urls %}
        <p> <a href="{{link.long_url}}">{{link.short_url}}</a> : {{link.long_url}}</p>
        {% endfor %}
    </ul>

  </body>
</html>
