<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'BlogApp:createpost' %}" method="post">
            {% csrf_token %}
            <input type="text" name="displaypost"/>
            <button type="submit">submit</button>
        </form>
        <ul>
            {% for post in posts %}
            <li>{{ posts.title }}</li>
            {% endfor %}
        </ul>
    </body>
</html>

<!-- matching everything correctly to actuall BlogApp -->