* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, .2);
    margin-bottom: 2rem;
    height: 4rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.date {
    padding-bottom: 1rem;
}

.blog {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 5rem;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, .2);
    height: 2rem;
    width: 100%;
}