
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Todo_List_App</title>
    </head>
    <body class="bg-yellow-500">
        <div class="border-4 border-black flex justify-center text-2xl">
            <h1>Getter'Dun!</h1>
        </div>
        <form class="flex justify-content-center" action="{% url 'todo_list_app:add_new_objective' %}" method="post">

            <div class="w-full">
                {% csrf_token %}
                <textarea class="border-b-2 border-black text-center w-full" type="text" name="title" placeholder="What To Do..."></textarea>
                <textarea class="text-center h-48 w-full" type="text" name="objective" placeholder="Objective Details..."></textarea>

                <div class="flex justify-center mt-4">
                    <input class="border-2 border-black" type="date" name="start_date" placeholder="start_date">
                </div>

                <div>
                    <h1>Set the Priority Level:</h1>
                    <input class="" type="text" name="priority" placeholder="High, Medium, or Low Priority">
                </div>
                    

                <div class="flex justify-center">
                    <label for="in_progress">Objectives In Progress:</label>
                    <input class="ml-2" type="radio" name="in_progress" value="True" placeholder="in_progress">
                </div>

                <div class="flex justify-center">
                    <label for="in_progress">Not In Progress:</label>
                    <input class="ml-2" type="radio" name="in_progress" value="False" placeholder="in_progress">
                </div>

                <div class="flex justify-center">
                    <button class="border-2 border-black" type="submit">Submit</button>
                </div>
                    
            </div>
        </form>
        <section>
            <div class="">
                <h1 class="flex text-xl font-medium justify-center pt-2 underline">Objectives In Progress</h1>
                {% for list in all_lists %}
                    {% if list.in_progress is True %}
                        <ul class="ml-1 underline"><strong>{{ list.title }}</strong></ul>
                        <ul class="flex justify-center break-words">{{ list.objective }}</ul>
                        <ul class="text-xs">Task Start Date: {{ list.start_date }}</ul>
                        <ul class="text-xs">Task Priority Level: {{list.priority}}</ul>
                        <ul class=""><a href="{% url 'todo_list_app:edit_objective' list.id %}">Click to Complete</a></ul>
                        </br>
                    {% endif %}
                {% endfor %}
            </div>

            <br>
            <form action="{% url 'todo_list_app:add_new_note' %}" method="post">
                <div class="border-2 border-black">
                    {% csrf_token %}
                    <h1 class="flex text-xl font-medium justify-center pt-0.5 pb-0.5 underline">Create a Note</h1>
                    <textarea class="h-24 ml-2 mb-1 " type="text" name="note" placeholder="Enter Notes Here"></textarea> 
                    <button class="border-2 border-black p-1" type="submit" name="note_submit">Submit Note</button>
                </div>
            </form>

            <div class="">
                {% for note in all_notes %}
                    <p class="border-b-2 border-black pl-1 pr-1 break-words">{{note}}</p>
                    <ul><a class="text-xs hover:text-blue-600" href="{% url 'todo_list_app:delete_old_note' note.id %}">Click to Delete</a></ul>
                {% endfor %}
            </div>
            <!-- <div class="border border-black h-[1px]"></div> -->
                <br><hr class="border border-black h-[1px]">


            
            <div class="break-words">
                <h1 class="flex justify-center underline text-2xl">Objectives Completed</h1>
                {% for list in all_lists %}
                    {% if list.in_progress is False %}
                    <ul class="ml-1 underline"><strong>{{ list.title }}</strong></ul>
                        <ul class="flex justify-center">{{ list.objective }}</ul>
                        <ul class="text-xs">Task Completed Date: {{ list.finish_date }}</ul>
                        <ul class="text-xs"><a href="{% url 'todo_list_app:edit_objective' list.id %}">Objective Complete</a></ul>
                        </br>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <footer class="flex justify-center bg-black text-white">
            <h1>Only You Can Prevent A Program Bug</h1>
        </footer>
    </body>
</html>