<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/desktop.css" />

    <title>Blog main page with flask</title>
</head>
<body>

    <header>
        <div id="header">
            <img id="picture" src="{{url_for('static', filename='img/em2_sedan.jpg')}}">
            <h1 id="words">Hello World blog posts</h1>
        </div>
    </header>

    <main>
        <div id="blog">
            {% for post in posts %}  
            <p>Title: {{post['title']}}</p><p>Author: {{post['author']}}</p><p>Date: {{post['date']}}</p><p>Body: {{post['body']}}</p><br><hr><br>
            {% endfor %} 
        </div>
    </main>

    <footer>
        <div id="footer">
            Good bye
        </div>
    </footer>
    
</body>
</html>