*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{
    background-color:darkolivegreen;
    overflow-wrap: break-word;
    position: relative;
    min-height: 100vh;
    overflow-anchor: none;
    /* width: 100vw; */
}




#footerDisplay{
    display: flex;
    justify-content: space-between;
    position: absolute;
    vertical-align: middle;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .5rem;
    /* align-content: center; */
    /* text-align: center; */
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    border-top: 1px solid black;
}

#footerContainer{
    padding-top: 3rem;
}

#displayHacks{
    margin-left: 4rem;
    margin-right: 16rem;
    padding-bottom: 2.5rem;
    
}

.test{
    color: red;

}
