{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'groceryapp/styles.css' %}">
    {% comment %} <img src="{% static 'groceryapp/sacred_geometry_background.jpg' %}"> {% endcomment %}
    <title>Grocery List</title>
  </head>
  <body>
    <form action="{% url 'groceryapp:create_list' %}" method="post">
        {% csrf_token %}
        <input type="text" name="grocery_item" placeholder="Grocery Item">

        <label for="completed">Completed: </label>
        <input type="radio" name="completed" value="True" placeholder="completed">
        <label for="completed">Not Completed: </label>
        <input type="radio" name="completed" value="False" placeholder="completed">
        
        <button type="submit">Add Post</button>
    </form>
    <main>
        <div id="lists">
            <div class="completed">
                <h2>Completed</h2><br>
                {% for item in my_lists %}
                    {%if item.completed is True%}
                        <div class="item">
                            <ul>{{ item.grocery_item }}</ul>
                            <ul>{{ item.date }}</ul>
                            <ul><a href="{% url 'groceryapp:edit_bool' item.id %}">Completed: {{ item.completed }}</a></ul>
                            <ul><a href="{% url 'groceryapp:edit_grocery_item' item.id %}">Update</a></ul>
                            <ul><a href="{% url 'groceryapp:delete_post' item.id %}">Delete</a></ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="not_completed">
                <h2>Not Completed</h2><br>
                {% for item in my_lists %}
                    {% if item.completed is False%}
                        <div class="item">
                            <ul>{{ item.grocery_item }}</ul>
                            <ul>{{ item.date }}</ul>
                            <ul><a href="{% url 'groceryapp:edit_bool' item.id %}">Completed: {{ item.completed }}</a></ul>
                            <ul><a href="{% url 'groceryapp:edit_grocery_item' item.id %}">Update</a></ul>
                            <ul><a href="{% url 'groceryapp:delete_post' item.id %}">Delete</a></ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
  </body>
</html>