<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Grocery List</h1>
    <form action="{% url 'grocery_list:mycreate' %}" method="post">
      {% csrf_token %}
      <input type="text" name="GroceryItem"/>
      {% comment %} <input type="checkbox" name="ToDo"/> {% endcomment %}
      <button type="submit">Add</button>
    </form>

    {% for item in mygroceries %}
    <ul> Incomplete
      {% if item.ToDo is True %}
      <li><input type="checkbox" name="ToDo">{{ item.GroceryItem }}</li>
      {% endif %}
    </ul>

    <ul> Complete
      {% if item.ToDo is False %}
      <li>{{ item.GroceryItem }}</li>
      {% endif %}
    </ul>
    {% endfor %}
  </body>
</html>
