<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>

  <title>Bluth Blog</title>
</head>
<body>

  <!-- <div id="body-stuffs"> -->

    <nav>
      <div id="nav-stuffs">
        <img src="{{url_for('static', filename='img/logo.jpg')}}" alt="Bluth Company logo"/>
        <h1 id="nav-h1">BLOG</h1>
      </div>
    </nav>

    <div id="main">

      <div id="side-nav">
        <div id="side-nav-box">
          <img id="blue" src="{{url_for('static', filename='img/tobias.jpg')}}" alt="Blue Himself">
          <h3>Where the early 2000's never die</h2>
          <ul>
            <li>Why This</li>
            <li>Why Now</li>
            <li>Who Cares</li>
            <li>FAQ</li>
            <li>Archive</li>
            <li>Give Me Money</li>
          </ul>
        </div>
      </div>

      <div id="post-box">
        <div class="post">
          {% for post in posts %}
            <p class="post-title">"{{post['title']}}"</p>
            <p class="post-author">By: {{post['author']}}</p>
            <p class="post-date">Date: {{post['date']}}</p>
            <p class="post-body">{{post['body']}}</p>
          {% endfor %}
        </div>
      </div>

    </div>

    <footer>
      <p>Copyright © 2022 Too Much Time Indoors Inc.</p>
    </footer>
  <!-- </div> -->
</body>
</html>
