<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/desktop.css')}}"/>

  <title>Bluth Blog</title>
</head>
<body>



    <nav>
      <!-- <div id="left"> -->
        <img src="{{url_for('static', filename='img/staircar.jpeg')}}" alt="Bluth Company logo"/>
        <h1> BLUTH BLOG</h1>
      <!-- </div> -->

        <h3>WHERE THE EARLY 2000's NEVER DIE</h3>

    </nav>




    <div id="main">

      <div id="side-nav">
        <div id="side-nav-box">
          <img id="blue" src="{{url_for('static', filename='img/tobias.jpg')}}" alt="Blue Himself">

          <ul>
            <li>WHY THIS</li>
            <li>WHY NOW</li>
            <li>WHO CARES</li>
            <li>FAQ</li>
            <li>ARCHIVE</li>
            <li>GIVE ME MONEY</li>
          </ul>
        </div>
      </div>

      <div id="post-box">
        <div class="post">
          {% for post in posts %}
            <p class="post-title">"{{post['title']}}"</p>
            <p class="post-author">By: {{post['author']}}</p>
            <p class="post-date">Date: {{post['date']}}</p>
            <p class="post-body">{{post['body']}}</p>
          {% endfor %}
        </div>
      </div>

    </div>

    <footer>
      <p>Copyright © 2022 Too Much Time Indoors Inc.</p>
    </footer>

</body>
</html>
