@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@100;300;700;800&family=Oswald:wght@200;300;400;500;700&family=Poppins:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid orangered; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: orange;
  font-family: 'Montserrat', sans-serif;
  /* padding: 2rem; */
}

/* #body-stuffs {
  width: 90%;
} */

nav {
  height: 4rem;
  /* background-color:white; */
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 2rem;

}

#nav-stuffs {
  display: flex;

}



#nav-h1 {
  background-color: white;
  display: flex;
  align-items: flex-end;
  font-size: 2.5rem;
  font-weight: 25;
  font-family: 'Playfair Display', serif, condensed;
  color:rgb(5, 122, 172, .95);

}
#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  padding: 2rem 1rem;
  /* background-color: orange; */
  color: snow;
}

#side-nav {
  width: 30%;
  /* padding: 1rem; */
  text-align: center;
  margin-right: 2rem;
  color:snow;

}
/*
#side-nav-box {
  background-color:  snow;
  border: 2px solid orange;
} */

h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  color: snow;
  text-shadow: 2px 2px rgb(5, 130, 171);
  line-height: 3rem;
}

ul {

  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

li {
  padding: 2rem 1rem;
  font-weight: bold;
  text-shadow: 1px 1px orangered;
  /* background-color: snow; */
}

li:hover {
  font-weight: bolder;
  color: orangered;
}
#post-box {
  width: 70%;
  padding: 1rem;
  line-height: 2rem;
  color:rgb(5, 130, 171);
  background-color:  snow;
}

.post {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid orange;
}

p {
  padding: .5rem;
}

.post-title {
  color:orangered;
  font-weight: bold;
  text-align: center;

}

.post-body {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid orange;
}

footer {
  height: 4rem;
  /* background-color:snow; */
  color:orangered;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  width: 100%;
}

#blue {
  width: 100%;
}
