@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid snow; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background-color: orange;
  font-family: 'Kanit', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: snow;
}

nav img {
  border: 1rem solid snow;
}

nav h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 50px;
  text-align: center;
}

nav h3 {
  height: 100%;
  font-size: 18px;
  text-align: center;
  padding-right: 1rem;
  text-shadow: 2px 1px rgb(255, 69, 0, .75);
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  padding: 1rem 0rem;
  color: snow;
}

#side-nav {
  width: 30%;
  text-align: center;
  margin-right: 2rem;
  color:snow;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  padding: 2rem 1rem;
  font-weight: bold;
  text-shadow: 2px 1px rgb(255, 69, 0, .75);
}

li:hover {
  font-weight: bolder;
  color: rgb(255, 69, 0, .32);
}

#post-box {
  width: 70%;
  padding: 1rem;
  line-height: 1.5rem;
  color:rgb(5, 130, 171);
  background-color:  snow;
}

.post {
  padding: .25rem;
  margin-bottom: 1rem;
  border: 2px solid orange;
  color: dodgerblue
}

p {
  padding: .25rem;
}

.post-title {
  font-weight: bold;
  text-align: center;
}

.post-body {
  color: rgb(255, 69, 0, .75);
  margin-bottom: 2rem;
  border-bottom: 2px solid orange;
}

.post-author, .post-date {
  color: rgb(221, 160, 221, .75);
  text-align: center;
}

footer {
  height: 4rem;
  color:snow;
  font-size: 1rem;
  text-shadow: 2px 1px rgb(255, 69, 0, .75);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#blue {
  width: 100%;
  border: 1rem solid snow;
}
