{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'grocery_app/styles.css' %}">
    <title>Grocery List</title>
  </head>
  <body>
    <form action="{% url 'grocery_app:add' %}" method="post">
        {% csrf_token %}
        <div>
          <label for='item'>Item</label>
          <input type="text" name="item"/><br><br>
          <input type="radio" name="complete" value="True">
          <label for="complete">Complete</label>
          <br><br>
          <input type="radio" name="complete" value="False">
          <label for="complete">Incomplete</label>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <div> 
        <h1>Incomplete</h1>
            {% for item in items %}
                {% if item.complete is False %}
                <ul>Item: {{ item.item }}, Created: {{ item.timestamp }}, <a href="delete/{{ item.id }}">Delete</a></ul>, <a href="{% url 'grocery_app:edit' item.id %}">Complete</a>
                {% endif %}        
            {% endfor %}
        <h1>Complete</h1>
        {% for item in items %}
                {% if item.complete is True %}
                <ul>Item: {{ item.item }}, Created: {{ item.timestamp }}, <a href="delete/{{ item.id }}">Delete</a></ul>, <a href="{% url 'grocery_app:edit' item.id %}">Incomplete</a>
                {% endif %}        
            {% endfor %}
  </body>
</html>