<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutStyles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desktopStyles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desktopAboutStyles.css')}}" />
    <title>lab03_blog</title>
</head>

<body>
    <div class="nav">
        <div id="nav-top">
            <div class="top">
                <img src="{{url_for('static', filename='img/zerg_logo.jpg')}}">
            </div>
            <div class="top">
                <p>@realBenjaminBirky</p>
            </div>
            <div class="top">
                <p>Student & Zerg Enthusiast</p>
            </div>
        </div>
        <div id="nav-bottom">
            <div class="link">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="link">
                <a href="{{ url_for('about') }}">About Me</a>
            </div>
            <div class="link">
                <a href="https://starcraft.fandom.com/wiki/Zerg">More Zerg</a>
            </div>
        </div>
    </div>
</body>

</html>