<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />

    <title>About Page Flask</title>
</head>
<body>

    {% for color in colors %}  
        <p>color: {{color['name']}}</p><p>rgb: {{color['rgb']}}</p>
    {% endfor %}

    <img src="{{url_for('static', filename='img/olive1.jpg')}}">

    <h1>Form Example!</h1>

    <form action="https://webhook.site/b8ac4bcc-1385-4404-b66d-d549f3a4bddb" method="post">
        <label for="username"></label>
        <input placeholder="enter your username" name="username" >
        <label for="password"></label>
        <input placeholder="password" name="password">
        <!-- <input type="radio">
        <input type="checkbox"> -->

        <button type="submit">Place your order!</button>
    </form>
</body>


</body>
</html>