<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
</head>
<body>
    <h1>Form Example!</h1>

        <form action="https://webhook.site/b8ac4bcc-1385-4404-b66d-d549f3a4bddb" method="post">
            <label for="tortilla">Tortilla: </label><br>

            <input type="radio" name="tortilla" value="flour" checked> Flour<br>
            <input type="radio" name="tortilla" value="corn"> Corn<br>
            <input type="radio" name="tortilla" value="blue_corn"> Blue Corn<br>
            <input type="radio" name="tortilla" value="spinach"> Spinach<br>

            <input placeholder="enter your name" name="name" >
       
            <button type="submit">Place your order!</button>
        </form>

</body>
</html>