<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Url Shortener</title>
</head>
<h1>URL Shortener</h1>
<body>
    <form action="{% url 'urlshort_app:shorten' %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="url" name="url" size="100" placeholder="Enter URL here"/><br><br>
            <button>Submit</button>
        </div>
    </form><br>
    <div>
        {% for url in urls %}
        <ul>https://sho.rt/{{ url.short }}</ul>
        {% endfor %}
    </div>
</body>
</html>

    
    
    
    
    
        