<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>I Titled It</title>
    </head>
    <body>
        <ul>
            {% for myinstance in myinstances %}
            <li>{{ myinstance.myfield }}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'myapp:mycreate' %}" method="post">
            {% csrf_token %}
            <input type="text" name="myfield" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
