@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nabla&family=Orbitron:wght@400;900&family=Rajdhani:wght@300;400&family=Righteous&family=Rubik+Moonrocks&family=Titan+One&display=swap');

/* font-family: 'Fredoka One', cursive;
font-family: 'Nabla', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Titan One', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

header {

}

#header-padding {

}

nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;

}

#nav-title {
  display: flex;
  justify-content: left;
  align-items: center;
}

#h1-title {
  font-family: 'Rubik Moonrocks', cursive;
  color:tomato;
  font-size: 3rem;

}

/* #nav-menu {
  display: flex;
  justify-content: right;
} */

#muah {
  height: 8rem;
  border-radius: 7rem;
  border: .5rem solid tomato;
  /* margin: 1rem; */
}

hr {
  border: .25rem solid tomato;
}

main {
  display: flex;
}

#h1-sub-title {
  font-family: 'Rubik Moonrocks', cursive;
  color:tomato;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
