@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nabla&family=Orbitron:wght@400;900&family=Rajdhani:wght@300;400&family=Righteous&family=Rubik+Moonrocks&family=Titan+One&display=swap');

/* font-family: 'Fredoka One', cursive;
font-family: 'Nabla', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Titan One', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


main{
  background: url("img/scheherazade-wide.jpg.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
