<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

     <!-- Import Ajax -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Vue T'Due</title>
</head>
<body>
    <div id="app">
        <h1>Vue 2Due</h1>
        <br>

        <input v-model="name" placeholder="Enter nue 2Due">
        <button @click="addNewTodo()">Add T'2Due</button>
        <br><br>

        <h3>2Due</h3>
        <div v-for="todo in todoArray">
            <div v-if="todo.complete === false">
                <p>{{ todo.name }} <button @click="flipBool(todo)">&#9989;</button> <button @click="removeItem(todo)">&#10060;</button></p>
            </div>
        </div>
        <br>

        <h3>Not 2Due</h3>
        <div v-for="todo in todoArray">
          <div v-if="todo.complete === true">
              <p>{{ todo.name }} <button @click="flipBool(todo)">&#10548;</button> <button @click="removeItem(todo)">&#10060;</button></p>
          </div>
      </div>

    </div>

    <!-- Import App -->
    <script src="./script.js"></script>

    <!-- Mount App -->
    <script>
        const mountApp = app.mount('#app')
    </script>

</body>
</html>
