body{
  background-color: #1a1a1a;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
  cursor: pointer;
  color: yellow;
}
