@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
}

h1 {
  justify-content: center;
}
