/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=GFS+Didot&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
}

/* body:hover {
  font-family: 'GFS Didot', serif;
} */

main{
  background: url("img/thot.jpg");
  height: 30rem;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 5rem;
  font-size: 1.5rem;
  color: mintcream;
  text-shadow: 2px 2px gray;
  margin-top: 2rem;
}

.intro {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.intro-text {
  color: black;
}
