/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=GFS+Didot&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
  background-color: bisque;
}

/* body:hover {
  font-family: 'GFS Didot', serif;
} */

main{
  background: url("img/thot.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;


  text-align: center;
  padding: 5rem;
  font-size: 1.5rem;
  color: mintcream;
  text-shadow: 2px 2px gray;
  margin-top: 2rem;
}

a {
  color: dimgray;
  text-shadow: none;
  font-weight: lighter;
}

hr {
  border: 1px solid burlywood;
  border-style: outset;
}

.intro {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

h2 {
  color: burlywood;
  text-shadow: 2px 2px dimgray;
}

.intro-text {
  color: dimgray;
  text-shadow: none;
}

.list {
  color: dimgray;
  text-shadow: none;
  text-align: left;
}

p.list {
  font-weight: bold;
}
