{% extends 'base.html' %} {% block content %}

<div>
    {% for post in object_list %} 
        {% if post.is_public is True %}
            <div id="postSection">
                <p id="postTitle">
                    {{ post.title }}
                </p>
                
                <p>
                    {{ post.body }}
                </p>
                <p>
                    Posted By: {{ post.user }}
                </p>
                <p>
                    Created On: {{ post.date_created }}
                </p>
                    {% if post.date_edited != post.date_created %}
                        <p>
                            Date Edited: {{ post.date_edited }}
                        </p>
                    {% endif %}

                {% if post.user.username == user.username %}
                <a href="{% url 'gravy_app:edit_post' post.pk %}">Edit</a>
                <a href="{% url 'gravy_app:delete_post' post.pk %}">DELETE!</a>
                {% endif %}
            </div>
            {% else %}
                <div>
                    <h1>Post Has Been Deleted</h1><a href="{% url 'gravy_app:edit_post' post.pk %}">Edit</a>
                </div>
            {% endif %} 
    {% endfor %}
</div>
<div id="addNewPost">
    <a href="{% url 'gravy_app:new_post' %}">Add New Post</a>
</div>

{% endblock %}
