{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'url_shortener_app:mycreate' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name"/>
            <input type="url" name="url_long" placeholder="URL"/>
            <button type="submit">submit</button>
        </form>
        <ul>
            {% for item in myinstances %}
            <li>{{ item.name }}</li>
            <li>{{ item.url_long }}</li>
            <a href="{% url 'url_shortener_app:shorter_url' item.url_short %}" target='blank'> {{item.url_short}} </a>
            <br>
            {% endfor %}
        </ul>
    </body>
</html>