{% extends 'base.html' %}
{% block content %}



<div class='post-section'>
  {% for post in object_list %}

  <div class="post">
    <div id="title">
      {{post.title}}
    </div>

      {{post.body}}

    <div id="username">
      - {{post.user}}
    </div>
    {% if post.user.username == user.username %}
    <div id="edit_del">
      <a href="{% url 'posts:edit' post.pk %}">Edit</a>
      <a href="{% url 'posts:delete' post.pk %}">Delete</a>
    </div>
    {% endif %}
  </div>
<br>
  {% endfor %}
</div>





{% endblock %}