{% extends 'base.html' %}
{% block content %}

    <div class='post-body'>
        {% for post in object_list %}
        
        <div class='post'>
            {{post.title}}
            <br>
            {{post.body}}
            <br>
            {{post.author.username}}
            <br>
            {{post.date_created}}
            <br><br>
            {% if post.author.username == user.username %}
                <a href="{% url 'posts:edit' post.pk %}">edit</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
{% endblock  %}