{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'GroceryApp/styles.css' %}">
    <title>something clever</title>
</head>
<body>
<h1 id="header">Grocery App!!</h1>

    <form action="{% url 'GroceryApp:create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="item_name" placeholder="add item to list here"/>
        <input type="date" name="date_created"/>
        <input type="radio" name="completed" value="True"/>
        <label for="completed">Aquired</label>
        <input type="radio" name="completed" value="False"/>
        <label for="completed">Not yet aquired</label>
        <br>
        <br>
        <button type="submit">submit</button>
        <br>

    </form>

    <div id="completed">
        <h3>Items aquired</h3>
    {% for items in objects %}
        {% if items.completed is True %}
        <ul>{{items.item_name}}</ul>
        <ul>Date: {{items.date_created }}</ul>
        <ul><a href="{% url 'GroceryApp:edit_list' items.id %}">move to not aquire</a></ul>
        <ul><a href="{% url 'GroceryApp:delete' items.id %}" > Delete item</a></ul>
        {% endif %}
    {% endfor %}
    </div>

    <div id="incomplete">
        <H3>Items left to aquire</H3>
        {% for items in objects %}
        {% if items.completed is False %}
        <ul>{{items.item_name}}</ul>
        <ul>Date: {{items.date_created }}</ul>
        <ul><a href="{% url 'GroceryApp:edit_list' items.id %}">Move to aquired </a></ul>
        <ul><a href="{% url 'GroceryApp:delete' items.id %}" > Delete item</a></ul>
        {% endif %}
    {% endfor %}
    </div>

</body>
</html>