{% extends "urlshortner_app/base.html" %} {% block homepage %}

<div>
    <header class="flex-1 flex-row">
        <h2 class="text-red-600">TL:DR:URL</h2>
        <div class="">
            <a>Home</a>
            <a>Login</a>
        </div>
    </header>

    <div>
        <h1>Input your URL</h1>
        <form action="{% url 'urlshortner_app:new_url'%}" method="post">
            {% csrf_token%}
            <label>Enter Complete URL</label>
            <input type="url" name="long_url" placeholder="Paste URL" />
            <button type="submit">Get Short Code</button>
        </form>
    </div>

    <div>
        <div>
            {% for url in urls %}
            <a href="{% url 'urlshortner_app:redirected_view' url.id %}"
                >http://127.0.0.1:8000/{{url.short_code}}</a
            >

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
