
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/desktop.css">
    <title>Matthew Rodrigue</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>   
        <Div>
            <img class="h-14" id="logo_img" src="../static/img/M.PNG" alt="logo">
            Welcome
        </Div>
        <br>
    </header>

    <img class="h-36 bg-center" id="self" src="../static/img/self.jpg" alt="self">
    
    <main >
        <div class="text-center text-red-500" id="bio">
            <p>Chuck Norris is so fast, he can run around the world and 
                punch himself in the back of the head. Chuck Norris can win a game of Connect 
                Four in only three moves. Chuck Norris originally appeared in the "Street Fighter II" 
                video game, but was removed by Beta Testers because every button caused him to do a 
                roundhouse kick. When asked bout this "glitch," Norris replied, "That's no glitch.".                
            </p>
        </div>
        <br>
        <div class="text-center " id="skills">
            <p>skill1</p>
            <p>skill2</p>
            <p>skill3</p>
            <p>skill4</p>
        </div>
        <br>
        <div class=" flex justify-between p-2p" id="work history">
            
            <p>Work history 1</p>
            <p>Work history 2</p>
            <p>Work history 3</p>
            <p>work history 4</p>
        </div>

    </main>
    <br>


    <!-- <img id="self" src="../static/img/self.jpg" alt="self"> -->



    <footer>
        <div>

        </div>
    </footer>



</body>
</html>