@media only screen and (min-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*----- Flex -----*/
    
    #nav{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
    
    /* --------------- */
    
    /*----- Class ----- */
    .post-header h1{
        color: #551A8B;
    }
    /* --------------- */
    img{
        margin-left: 6.5rem;
        height: 8rem;
        border-radius: 50%;
        
    }
    
    header{
        padding: 2rem;
        background-color: black;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    h1{
        font-size: 1.8rem;
        color: antiquewhite;
        text-align: center;
    }
    
    header p{
        font-size: 0.8rem;
        color: antiquewhite;
        text-align: center;
    }
    
    body{
        background-color: antiquewhite;
    }
    
    

}