<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css')}}"
        />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <title>Burrito Orderer 9001</title>
    </head>
    <body class="body">
        <div class="main_content">
            <div>
                <header class="header">
                    <h1 id="header_text">Burrito Order Form</h1>
                </header>
            </div>

            <div>
                <img
                    class="burrito_img"
                    src="{{ url_for('static', filename='img/burrito_image.jpg')}}"
                    alt="burrito photo"
                />
            </div>

            <form
                class="form_content"
                action="https://webhook.site/457c3161-aeac-4565-86b7-12d67a2e4bb1"
                method="post"
            >
                <div class="input_boxes">
                    <input
                        class="name_input_text"
                        type="text"
                        id="name_text"
                        name="user_name"
                        placeholder="Your Name Here..."
                    />
                    <input
                        class="password_input_text"
                        type="password"
                        id="password_text"
                        name="password"
                        placeholder="Your Password Here..."
                    />
                </div>

                <div class="form_content">
                    <fieldset class="tortilla_type_window">
                        <legend>Tortilla:</legend>

                        <div>
                            <input
                                type="radio"
                                id="white_flour"
                                name="tortilla"
                                value="white_flour"
                                checked
                            />
                            <label for="white_flour">White Flour</label>
                        </div>

                        <div>
                            <input
                                type="radio"
                                id="wheat_flour"
                                name="tortilla"
                                value="wheat_flour"
                            />
                            <label for="wheat_flour">Wheat Flour</label>
                        </div>

                        <div>
                            <input
                                type="radio"
                                id="spinach"
                                name="tortilla"
                                value="spinach"
                            />
                            <label for="spinach">Spinach</label>
                        </div>

                        <div>
                            <input
                                type="radio"
                                id="corn"
                                name="tortilla"
                                value="corn"
                            />
                            <label for="corn">Corn(gluten-free)</label>
                        </div>
                    </fieldset>

                    <fieldset class="meat_type_window">
                        <legend>Meat:</legend>

                        <div>
                            <input
                                type="checkbox"
                                id="carnitas"
                                name="meat"
                                value="carnitas"
                            />
                            <label for="carnitas">Carnitas</label>
                        </div>

                        <div>
                            <input
                                type="checkbox"
                                id="wheat_flour"
                                name="meat"
                                value="chicken"
                            />
                            <label for="chicken">Chicken</label>
                        </div>

                        <div>
                            <input
                                type="checkbox"
                                id="spinach"
                                name="meat"
                                value="sofritas(tofu)"
                            />
                            <label for="sofritas(tofu)">Sofritas(tofu)</label>
                        </div>

                        <div>
                            <input
                                type="checkbox"
                                id="no_meat"
                                name="meat"
                                value="no_meat"
                            />
                            <label for="no_meat">No Meat</label>
                        </div>
                    </fieldset>
                    <div class="extras_window">
                        <p>Extras:</p>
                        <div>
                            <input
                                type="checkbox"
                                id="beans"
                                name="extras"
                                value="beans"
                            />
                            <label for="beans">Beans</label>
                        </div>
                        <div>
                            <input
                                type="checkbox"
                                id="cheese"
                                name="extras"
                                value="cheese"
                            />
                            <label for="cheese">Cheese</label>
                        </div>
                        <div>
                            <input
                                type="checkbox"
                                id="salsa"
                                name="extras"
                                value="salsa"
                            />
                            <label for="salsa">Salsa</label>
                        </div>
                        <div>
                            <input
                                type="checkbox"
                                id="sour_cream"
                                name="extras"
                                value="sour_cream"
                            />
                            <label for="sour_cream">Sour Cream</label>
                        </div>
                        <div>
                            <input
                                type="checkbox"
                                id="silantro"
                                name="extras"
                                value="silantro"
                            />
                            <label for="silantro">Silantro</label>
                        </div>
                        <div>
                            <input
                                type="checkbox"
                                id="seranno"
                                name="extras"
                                value="seranno"
                            />
                            <label for="seranno">Seranno</label>
                        </div>
                    </div>

                    <div class="order_total_window">
                        <h2>Order Total</h2>
                        <li>(tortilla selection)</li>
                        <li>(meat selection)</li>
                        <li>(extras selection)</li>
                        <br />
                        <h4>Total:(items total cost)</h4>
                    </div>
                    <div class="extra_instructions_box">
                        <input
                            class="extra_instructions_text"
                            type="text"
                            id="extra_instructions"
                            name="extra_instructions"
                            placeholder="Extra instructions..."
                        />
                    </div>
                    <div>
                        <button class="submit_button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
