*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }