@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Maze&family=Sniglet:wght@400;800&display=swap');

/* font-family: 'Creepster', cursive;
font-family: 'Rubik Maze', cursive;
font-family: 'Sniglet', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  letter-spacing: .1rem;
  text-shadow: .5px .5px black;

}

body {
  background-color:lightgreen;
  color: white;
  font-family: 'Sniglet', cursive;
  margin: 1rem;
}

a {
  color:yellow;
  text-shadow: none;
}

h1 {
  color:pink;
  font-size: 3rem;
  text-align: center;
}

h4 {
  margin: 1rem;
  font-size: 2rem;

}

#welcome {
  display: flex;
  justify-content: center;
}
/* Nav section ------------------------------------------ */
nav{
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;

}

nav div{
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
}

.post-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
}
