@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid blue; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.main_content{
    /* display: flex; */
    /* position: absolute; */
    /* width: 90vw; */
    /* height: fit-content; */
    /* border: 1px solid red; */
}

#background_color_nav{
    background: rgba(42, 46, 42, 0.3);
    /* opacity: 0.5; */
}
#background_image{
    background-image: url("image2of4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250vh;
}
.logo_container{
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(rgb(49, 44, 44), rgb(99, 107, 99), rgb(85, 85, 90), alpha); */
    width: 100vw;
}

#logo-left{
    display: flex;
}



.flickr_logo{
    display: flex;
    /* width: 6vw; */
    height: 2.5rem;
    /* border: 1px solid green; */
}

.logo{
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    margin-left: 8%;
    /* border: 1px solid yellow; */
}
#nav_input{
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin-right: 1rem; */
    margin-left: 1rem;
    width: 50vw;
    font-family: 'Roboto', sans-serif;
}
.nav_input{
    display: flex;
    font-size: 75%;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    /* margin-right: 1rem; */
    /* border: 1px solid purple; */
}

.buttons{
    display: flex;
    
    font-size: smaller;
    align-items: center;
    margin-right: .25rem;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid orangered; */
}

.log_in_button{
    /* display: flex; */
    
    /* align-items: center; */
    /* align-content: center; */
    font-size: x-small;
    /* border: 2px solid black; */
}

.sign_up_button{
    /* display: flex; */
    font-size: x-small;
    align-items: stretch;
    /* margin-right: auto; */
}

.display_overphoto_content{
    /* display: flex; */

    position: relative;
    /* width: fit-content; */
    /* width: 5rem; */
    height: max-content;
    text-align: center;
    /* border: 1px dashed pink; */
}

.large_title{
    /* display: flex; */
    text-align: center;
    margin-top: 3rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* border: 2px dashed yellowgreen ; */
}

.medium_title{
    display: flex;
    text-align: center;
    color: white;

}

.start_button{
    /* display: flex; */
    /* margin-top: 3rem;
    text-align: center;
    align-items: center; */
    font-size: calc(0.25em + 2vw);
    align-items: center;
    size-adjust: 30%;
    margin-top: 10%;
    height: 5vh;
    width: 25vw;
    /* border: 2px solid blue; */

}

.footer_display{
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    font-size: xx-small;
    bottom: 0rem;
    height: 1.5rem;
    width: 100vw;
    /* justify-content: space-around; */
    justify-content: right;
    /* align-content: center; */
    /* align-content: inherit; */
    align-items: stretch;
    /* border: 2px dashed hotpink; */
}

#footer_display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; */
    bottom: 0rem;
    width: 100vw;
    /* border: 2px solid blue; */

}

.mini_footer_logos{
    display: flex;
    justify-content: right;
    height: 1rem;
    width: 3rem;
    /* padding-right: 1rem; */
    /* align-items: center; */
    margin-right: .25rem;
    margin-top: 1%;
    /* border:1px solid white; */
    
}

#facebook_logo{
    max-width: 100%;
    height: auto;
}

#instagram_logo{
    max-width: 100%;
    height: auto;
}

#twitter_logo{
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 1000px) {
    .logo_container{
    height: 2rem;
}
    .flickr_logo{
        height: 100%;
        width: fit-content;
    }
    #nav_input{
        width: 80vw;
        /* width: fit-content; */
        /* display: flex; */
        margin-left: 1rem;
        /* float: left; */
        /* border: 2px solid pink; */
    }
    .footer_display{
        font-size: calc(0.35em + 1vw);
        height: 3rem;
    }
    .medium_title{
        text-align: center;
    }
    #medium_title{
        text-align: center;
    }
    .start_button{
        /* display: flex; */
        /* justify-content: center; */
        font-size: calc(0.75em + 1vw);
        align-items: center;
        size-adjust: 30%;
        margin-top: 10%;
        height: 5vh;
        width: 20vw;
        /* border: 2px solid white; */
        /* border: 2px solid blue; */

    }
    .mini_footer_logos{
        margin-right: 1rem;
    }
}
