*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    background-color: rgb(20, 27, 37);
}

form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #0d1117;
    border: 2px solid rgb(92, 92, 92);
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

h4{
    border-bottom: 2px solid whitesmoke;
}

a{
    color: blue;
}