<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'myapp:mycreate' %}" method="post">
            {% csrf_token %}
            <input type="text" name="myfield"/>
            <input type="text" name="mytext"/>
            <button type="submit">submit</button>
        </form>
        <ul>
            {% for myinstance in myinstances %}
            <label for="Title">Title:</label>
            <li>{{ myinstance.myfield }}</li>
            <label for="Text">Text:</label>
            <li>{{ myinstance.mytext }}</li><br>
            {% endfor %}
        </ul>
    </body>
</html>