<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'myapp:mycreate' %}" method="post">
            {% csrf_token %}
            <label for="Title">Title:</label>
            <input type="text" name="myfield"/>

            <label for="Text">Text:</label>
            <input type="text" name="mytext"/>

            <input type="hidden" name="mytime"/>

            <button type="submit">Just send it, bro</button>
        </form>
        <ul>
            {% for myinstance in myinstances %}     
            <li>Title: {{ myinstance.myfield }} <br> Body: {{ myinstance.mytext }} <br> Time: {{ myinstance.mytime }}</li><br>
            {% endfor %}
        </ul>
    </body>
</html>