@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Overpass:wght@100;200;300;400&display=swap');
/* font-family: 'Concert One', cursive; */
/* font-family: 'Overpass', sans-serif; */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: rgb(10, 35, 66);
}

nav {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 144, 186);
}

.logo {
    margin: auto;
    padding: .5rem;
    width: 13rem;
    background-color: rgb(32, 144, 186);
    color:rgb(254, 208, 42);
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 1.5rem;
}

.navLink {
    display: none;
}

.popBoxes {
    font-family: 'Overpass', sans-serif;
    font-size: 1.25rem;
}

.popBoxes #banner {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: white;
}

.popBoxes #banner2 {
    background-color: #3d4a60;
    color: white;
    padding-left: 1.5rem;
    padding-top: .75rem;
    padding-right: 1.5rem;
    margin-top: .2rem;
    text-align: center;
    font-weight: 200;
    font-size: .9rem;
}

.popBoxes #banner3 {
    background-color: #3d4a60;
    color: white;
    padding-left: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-weight: 400;
    font-size: .95rem;
}

.mainBody {
    color: white;
}
#companyName {
    background-color: rgb(10, 35, 66);
    font-size: 2.5rem;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Concert One', cursive;
}
#productName {
    background-color: rgb(10, 35, 66);
    font-size: 2.25rem;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Concert One', cursive;
}

.descriptionBody {
    font-family: 'Overpass', sans-serif;
}

.descriptionBody #second {
    padding-top: .5rem;
    font-size: 1.25rem;
    text-align: center;
}
.descriptionBody #third {
    padding-top: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

.buttons {
    height: 6rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.buttons #button1 {
    background-color: #3d4a60;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: .75rem;
    padding-bottom: .75rem; 
}

.buttons #button2 {
    background-color: white;
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.screenshots {
    height: 35rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.screenshots #page1 {
    width: 19rem;
    height: 17rem;
}

.screenshots #page2 {
    width: 19rem;
    height: 17rem;
}

