* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./images/groceries.jpg');
}

form {
    margin: 2rem;
    background-color: rgb(255, 255, 255,.5);
}

#list {
    background-color: rgb(255, 255, 255,.5);
}

a:hover{
    color: red;
}

a {
    text-decoration: none;
}