@media only screen and (min-width: 1000px){
    html {
      color: rgb(67, 0, 106);
      display: flex;
      justify-content: center;
        background: url('../images/desktoplogo.jpeg') no-repeat center center fixed;
        background-size: cover;
    }
}