*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background: url('../images/betterbg.webp') no-repeat center center fixed;
    background-size: cover;
}

body{
    color: rgb(0, 63, 252);
}

#by-me{
    color: yellow;
    display:flex;
    align-items: flex-start;
}
.posts{
    color: royalblue;
    display: contents;
    justify-content: center;
}
#bp{
    display: flex;
    justify-content: center;
}
 #banner{
    color: white;
    font-size: 3rem;
    /* background-color: white; */
    /* padding: .5rem; */
    text-align: center;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-radius: 5rem;
 }

 #top-nav{
    text-align: center;
    font-size: 1.5rem;
 }

#foot{
    text-align: center;
    
}