{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>The Gravvy Train 🐱‍👓</title>
  </head>
  <body>
    <nav>
      <div>
        <h1 class='primary'>The Gravvy Train!</h1>
        <h4>All Things Gravy.It's Gravy Baby</h4>
      </div>
      <div>
        {% if user.is_authenticated %}
        <a href="{% url 'posts:home' %}">Home</a>

        <a href="{% url 'users:profile' user.username %}">{{user.username}}</a>

        <a href="{% url 'logout' %}">Logout</a>
          
        {% else%}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'users:signup' %}">Register</a>
        
        {% endif %}
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}

  </body>
</html>