

@media only screen and (min-width: 1000px) {
    body {
      /* background-color: rgb(103, 224, 224); */
      color: rgb(67, 0, 106);
      display: flex;
      justify-content: center;
        background: url('../images/clothedsnake.jpeg') no-repeat center center fixed;
        background-size: cover;
    }
    .blog-post{
        display: flex;
        flex-direction: column;
        width: 30rem;
        margin-right: auto;
    }
}
