*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background: url('../images/chjansu.jpeg') no-repeat center center fixed;
    background-size: cover;
}

body{
    color: white;
    height: 100%;
    
}

#title {
font-family:cursive ;
color: red;
font-size: 1.8rem;
text-align: center;
}
h2{
    color: rgb(15, 195, 24);
}

