* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c0b0bdb;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

#in_theatres {
    width: 18rem;
}

#not_in_theatres {
    width: 18rem;
}

a {
    text-decoration: none;
    color: rgba(25, 7, 157, 0.826);
}

a:hover {
    color: rgba(0, 255, 242, 0.89);
}

h1 {
    color: rgba(88, 85, 85, 0.794);
}
